@import '../sass-utils/mixins';

.onboarding{
    background-color: #00B9F2;
    height: 100%;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
   
    // background-image: url('/images/mob-1.png');
    // background-size: cover;
    // background-repeat: no-repeat;

    &__btn--blue {
        @include btn();
        background: #001b5c;
        margin-top: 4rem;
    }
}

.welcome {
    background-color: #00B9F2;
    padding: 40px;
    height: 40rem;
    padding-block: 6rem;
    border-radius: 0px 0px 40px 40px;

    &--text{
        margin-top: 5rem;
        h2{
        font-size: 30px;

    }
    }
}